<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <center>
        <section id="login">
            <form action="/register" method="post">
                <h1>Register</h1>
                <label for="username">Username</label>
                <input type="text" name="username" required placeholder="Enter your username"><br><br>
                <label for="password">Password</label>
                <input type="text" name="password" required placeholder="Enter your password">
                <p>Already registered? <a href="/login">Log in</a></p>
                <button type="submit">Register</button>
            </form>
        </section>
    </center>
    
</body>
</html>